In [1]:
import pymongo
client = pymongo.MongoClient("mongodb://localhost:27017/")
db = client["BD10"]

In [2]:
# Import library dari pymongo
from pymongo import MongoClient

#Inisialisasi client dan koneksi ke server MongoDB lokal
client = MongoClient('mongodb://localhost:27017/')

#Membuat atau memilih database bernama 'company_db'
db = client['company_db']

#Membuat atau memilih collection bernama 'employees'
collection = db['employees']

#engecek koneksi dengan mencetak pesan
print('Connected to MongoDB')

# (Opsional) Cek nama database yang sudah terkoneksi
print('Database name  :', db.name)
print('Collection name:', collection.name)

Connected to MongoDB
Database name  : company_db
Collection name: employees

In [4]:
from pymongo import MongoClient

#Koneksi ke MongoDB dan pilih database + collection
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

# Contoh insert satu data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data pertama (Alice) berhasil dimasukkan')

# Tugas: Insert beberapa data tambahan
employees = [
    {'name': 'Bob', 'department': 'IT', 'age': 25, 'salary': 5000},
    {'name': 'Charlie', 'department': 'HR', 'age': 32, 'salary': 4200},
    {'name': 'Diana', 'department': 'Marketing', 'age': 27, 'salary': 4800},
    {'name': 'Evan', 'department': 'Finance', 'age': 30, 'salary': 4600}
]
collection.insert_many(employees)
print('Data tambahan berhasil dimasukkan')

# READ (MENAMPILKAN DATA)
print('\nData karyawan saat ini:')
for employee in collection.find():
    print(employee)

# UPDATE (MENGUBAH DATA)

# Contoh: Update salary Bob menjadi 5500
collection.update_one({'name': 'Bob'}, {'$set': {'salary': 5500}})
print('\nData Bob berhasil diupdate (salary -> 5500)')

# DELETE (MENGHAPUS DATA)

# Contoh: Hapus data karyawan bernama Charlie
collection.delete_one({'name': 'Charlie'})
print(' Data Charlie berhasil dihapus')

# TAMPILKAN DATA AKHIR

print('\n Data karyawan setelah update dan delete:')
for employee in collection.find():
    print(employee)

Data pertama (Alice) berhasil dimasukkan
Data tambahan berhasil dimasukkan

Data karyawan saat ini:
{'_id': ObjectId('6905fa611f84b479983d0679'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6905fa611f84b479983d067a'), 'name': 'Bob', 'department': 'IT', 'age': 25, 'salary': 5500}
{'_id': ObjectId('6905fa611f84b479983d067c'), 'name': 'Diana', 'department': 'Marketing', 'age': 27, 'salary': 4800}
{'_id': ObjectId('6905fa611f84b479983d067d'), 'name': 'Evan', 'department': 'Finance', 'age': 30, 'salary': 4600}
{'_id': ObjectId('6905fa8f1f84b479983d067f'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6905fa8f1f84b479983d0680'), 'name': 'Bob', 'department': 'IT', 'age': 25, 'salary': 5000}
{'_id': ObjectId('6905fa8f1f84b479983d0681'), 'name': 'Charlie', 'department': 'HR', 'age': 32, 'salary': 4200}
{'_id': ObjectId('6905fa8f1f84b479983d0682'), 'name': 'Diana', 'department': 'Marketing', 'age': 27, 'salary': 4800}
{'_id': ObjectId('6905fa8f1f84b479983d0683'), 'name': 'Evan', 'department': 'Finance', 'age': 30, 'salary': 4600}

Data Bob berhasil diupdate (salary -> 5500)
 Data Charlie berhasil dihapus

 Data karyawan setelah update dan delete:
{'_id': ObjectId('6905fa611f84b479983d0679'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6905fa611f84b479983d067a'), 'name': 'Bob', 'department': 'IT', 'age': 25, 'salary': 5500}
{'_id': ObjectId('6905fa611f84b479983d067c'), 'name': 'Diana', 'department': 'Marketing', 'age': 27, 'salary': 4800}
{'_id': ObjectId('6905fa611f84b479983d067d'), 'name': 'Evan', 'department': 'Finance', 'age': 30, 'salary': 4600}
{'_id': ObjectId('6905fa8f1f84b479983d067f'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6905fa8f1f84b479983d0680'), 'name': 'Bob', 'department': 'IT', 'age': 25, 'salary': 5000}
{'_id': ObjectId('6905fa8f1f84b479983d0682'), 'name': 'Diana', 'department': 'Marketing', 'age': 27, 'salary': 4800}
{'_id': ObjectId('6905fa8f1f84b479983d0683'), 'name': 'Evan', 'department': 'Finance', 'age': 30, 'salary': 4600}

In [5]:
from pymongo import MongoClient

# Koneksi ke MongoDB
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

# Query Aggregation untuk menghitung rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]

print(' Rata-rata gaji per departemen:')
for result in collection.aggregate(pipeline):
    print(result)

 Rata-rata gaji per departemen:
{'_id': 'IT', 'average_salary': 5250.0}
{'_id': 'Finance', 'average_salary': 4550.0}
{'_id': 'Marketing', 'average_salary': 4800.0}

In [6]:
from pymongo import MongoClient

# Koneksi ke MongoDB
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']

# Membuat / mengakses koleksi baru bernama 'products'
collection = db['products']

# Data produk (minimal 10 produk)
products_data = [
    {'name': 'Laptop Lenovo', 'category': 'Elektronik', 'price': 9500000, 'stock': 15},
    {'name': 'Headphone Sony', 'category': 'Elektronik', 'price': 1250000, 'stock': 25},
    {'name': 'Mouse Logitech', 'category': 'Aksesoris', 'price': 250000, 'stock': 40},
    {'name': 'Keyboard Razer', 'category': 'Aksesoris', 'price': 850000, 'stock': 30},
    {'name': 'Monitor Samsung', 'category': 'Elektronik', 'price': 2100000, 'stock': 10},
    {'name': 'Kursi Gaming', 'category': 'Furniture', 'price': 1800000, 'stock': 8},
    {'name': 'Meja Kantor', 'category': 'Furniture', 'price': 1500000, 'stock': 12},
    {'name': 'Flashdisk Sandisk 64GB', 'category': 'Penyimpanan', 'price': 120000, 'stock': 60},
    {'name': 'Harddisk Seagate 1TB', 'category': 'Penyimpanan', 'price': 750000, 'stock': 20},
    {'name': 'Printer Canon', 'category': 'Elektronik', 'price': 1600000, 'stock': 7}
]

# Menambahkan data ke koleksi
collection.insert_many(products_data)
print('10 data produk berhasil dimasukkan ke koleksi "products".')

# Menampilkan semua data produk untuk verifikasi
for product in collection.find():
    print(product)

10 data produk berhasil dimasukkan ke koleksi "products".
{'_id': ObjectId('6905fd8e1f84b479983d0686'), 'name': 'Laptop Lenovo', 'category': 'Elektronik', 'price': 9500000, 'stock': 15}
{'_id': ObjectId('6905fd8e1f84b479983d0687'), 'name': 'Headphone Sony', 'category': 'Elektronik', 'price': 1250000, 'stock': 25}
{'_id': ObjectId('6905fd8e1f84b479983d0688'), 'name': 'Mouse Logitech', 'category': 'Aksesoris', 'price': 250000, 'stock': 40}
{'_id': ObjectId('6905fd8e1f84b479983d0689'), 'name': 'Keyboard Razer', 'category': 'Aksesoris', 'price': 850000, 'stock': 30}
{'_id': ObjectId('6905fd8e1f84b479983d068a'), 'name': 'Monitor Samsung', 'category': 'Elektronik', 'price': 2100000, 'stock': 10}
{'_id': ObjectId('6905fd8e1f84b479983d068b'), 'name': 'Kursi Gaming', 'category': 'Furniture', 'price': 1800000, 'stock': 8}
{'_id': ObjectId('6905fd8e1f84b479983d068c'), 'name': 'Meja Kantor', 'category': 'Furniture', 'price': 1500000, 'stock': 12}
{'_id': ObjectId('6905fd8e1f84b479983d068d'), 'name': 'Flashdisk Sandisk 64GB', 'category': 'Penyimpanan', 'price': 120000, 'stock': 60}
{'_id': ObjectId('6905fd8e1f84b479983d068e'), 'name': 'Harddisk Seagate 1TB', 'category': 'Penyimpanan', 'price': 750000, 'stock': 20}
{'_id': ObjectId('6905fd8e1f84b479983d068f'), 'name': 'Printer Canon', 'category': 'Elektronik', 'price': 1600000, 'stock': 7}

In [7]:
from pymongo import MongoClient

# Koneksi ke MongoDB
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['products']

# Hitung rata-rata harga semua produk
pipeline = [
    {'$group': {'_id': None, 'average_price': {'$avg': '$price'}}}
]
avg_result = list(collection.aggregate(pipeline))
average_price = avg_result[0]['average_price']
print(f'Rata-rata harga produk: {average_price}')

# Query produk dengan harga di atas rata-rata
print('\nProduk dengan harga di atas rata-rata:')
for product in collection.find({'price': {'$gt': average_price}}):
    print(product)

Rata-rata harga produk: 1972000.0

Produk dengan harga di atas rata-rata:
{'_id': ObjectId('6905fd8e1f84b479983d0686'), 'name': 'Laptop Lenovo', 'category': 'Elektronik', 'price': 9500000, 'stock': 15}
{'_id': ObjectId('6905fd8e1f84b479983d068a'), 'name': 'Monitor Samsung', 'category': 'Elektronik', 'price': 2100000, 'stock': 10}

In [8]:
from pymongo import MongoClient

# Koneksi ke MongoDB
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['products']

# Aggregation pipeline untuk menghitung total produk per kategori
pipeline = [
    {'$group': {'_id': '$category', 'total_products': {'$sum': 1}}}
]

# Menjalankan pipeline dan menampilkan hasil
print('Total produk dalam setiap kategori:')
for result in collection.aggregate(pipeline):
    print(result)

Total produk dalam setiap kategori:
{'_id': 'Furniture', 'total_products': 2}
{'_id': 'Penyimpanan', 'total_products': 2}
{'_id': 'Aksesoris', 'total_products': 2}
{'_id': 'Elektronik', 'total_products': 4}

In [9]:
from pymongo import MongoClient

# Koneksi ke MongoDB
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

# Aggregation pipeline untuk mencari 5 karyawan dengan gaji tertinggi per departemen
pipeline = [
    {'$sort': {'department': 1, 'salary': -1}},         # Urutkan berdasarkan departemen dan gaji tertinggi
    {'$group': {
        '_id': '$department',
        'top_employees': {'$push': {'name': '$name', 'salary': '$salary'}}
    }},
    {'$project': {
        'top_5_employees': {'$slice': ['$top_employees', 5]}  # Ambil hanya 5 teratas per departemen
    }}
]

# Jalankan pipeline dan tampilkan hasilnya
print('5 Karyawan dengan gaji tertinggi per departemen:')
for result in collection.aggregate(pipeline):
    print(result)

5 Karyawan dengan gaji tertinggi per departemen:
{'_id': 'IT', 'top_5_employees': [{'name': 'Bob', 'salary': 5500}, {'name': 'Bob', 'salary': 5000}]}
{'_id': 'Finance', 'top_5_employees': [{'name': 'Evan', 'salary': 4600}, {'name': 'Evan', 'salary': 4600}, {'name': 'Alice', 'salary': 4500}, {'name': 'Alice', 'salary': 4500}]}
{'_id': 'Marketing', 'top_5_employees': [{'name': 'Diana', 'salary': 4800}, {'name': 'Diana', 'salary': 4800}]}

In [10]:
from pymongo import MongoClient

# Koneksi ke MongoDB
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

# Hapus semua karyawan yang berusia di bawah 25 tahun
delete_result = collection.delete_many({'age': {'$lt': 25}})

# Tampilkan hasil penghapusan
print(f"{delete_result.deleted_count} karyawan di bawah usia 25 tahun telah dihapus.")

# Verifikasi hasil dengan menampilkan sisa data
print("\nData karyawan yang tersisa:")
for employee in collection.find():
    print(employee)

0 karyawan di bawah usia 25 tahun telah dihapus.

Data karyawan yang tersisa:
{'_id': ObjectId('6905fa611f84b479983d0679'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6905fa611f84b479983d067a'), 'name': 'Bob', 'department': 'IT', 'age': 25, 'salary': 5500}
{'_id': ObjectId('6905fa611f84b479983d067c'), 'name': 'Diana', 'department': 'Marketing', 'age': 27, 'salary': 4800}
{'_id': ObjectId('6905fa611f84b479983d067d'), 'name': 'Evan', 'department': 'Finance', 'age': 30, 'salary': 4600}
{'_id': ObjectId('6905fa8f1f84b479983d067f'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('6905fa8f1f84b479983d0680'), 'name': 'Bob', 'department': 'IT', 'age': 25, 'salary': 5000}
{'_id': ObjectId('6905fa8f1f84b479983d0682'), 'name': 'Diana', 'department': 'Marketing', 'age': 27, 'salary': 4800}
{'_id': ObjectId('6905fa8f1f84b479983d0683'), 'name': 'Evan', 'department': 'Finance', 'age': 30, 'salary': 4600}

In [11]:
from pymongo import MongoClient

# Koneksi ke MongoDB
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

# Aggregation pipeline untuk laporan ringkas
pipeline = [
    {
        '$group': {
            '_id': '$department',                # Kelompokkan berdasarkan departemen
            'total_salary': {'$sum': '$salary'}, # Hitung total gaji per departemen
            'average_age': {'$avg': '$age'}      # Hitung rata-rata umur karyawan
        }
    }
]

# Jalankan pipeline dan tampilkan hasil
print("Laporan ringkas total gaji dan rata-rata umur per departemen:")
for result in collection.aggregate(pipeline):
    print(result)

Laporan ringkas total gaji dan rata-rata umur per departemen:
{'_id': 'IT', 'total_salary': 10500, 'average_age': 25.0}
{'_id': 'Finance', 'total_salary': 18200, 'average_age': 29.5}
{'_id': 'Marketing', 'total_salary': 9600, 'average_age': 27.0}